<!DOCTYPE html>
<html>

<head>
</head>

<body>

<h2>Data Stream Aggregation Table</h2>

 What if to define table structure with aggregation functions along?
 The table scheme could easy listen to the event stream and do changes 
 accordingly in the related tables. The changes could be transformed and
 propagated as same events to the aggregation tables
 where it could be mixed with another sources. In general the idea looks like
 materialized view that is based on event stream.

<pre>
    customer {
        "type": "object",
        "properties": {
            "date": { "type": "string" },
            "customer": { "type": "string" },
            "amount": { "type": "string" }
        },
        "primary_key":["date", "customer"],
        "propagate":{
            "detail":[{
                "key":["customer"],
                "fields":{"total":"amount"}
            }]
        }
    }

    detail {
        "type": "aggregate",
        "properties": {
            "customer": { "type": "string" },
            "total": { "type": "string" }
        },
        "primary_key":["customer"],
        "sum":["amount"]
    }
</pre>

<a href="https://github.com/kalmyk/fox-wamp">Check on GitHub</a>

</body>

</html>
