<!DOCTYPE html>
<html>

<head>
</head>

<body>

<h2>Data Stream Aggregations</h2>

  What if to define table structure with aggregation functions. The table scheme could easy listen to the event stream and to related tables.

<pre>
    customer {
      "type": "object",
      "properties": {
          "date": { "type": "string" },
          "customer": { "type": "string" },
          "amount": { "type": "string" }
      },
      "unique":["date", "customer"],
      "propagate":{
          "detail":[{
              "key":["customer"],
              "fields":{"total":"amount"}
          }]
      }
  }
  
  detail {
      "type": "aggregate",
      "properties": {
          "customer": { "type": "string" },
          "total": { "type": "string" }
      },
      "unique":["customer"],
      "sum":["amount"]
  }
</pre>

<a href="https://github.com/kalmyk/fox-wamp">Check on GitHub</a>

</body>

</html>
